.container {
	margin-top: 20px;
    display: table;
    vertical-align: middle;
}

.left{
	float: left;
}

.foot{
	font-size: 10px;
}

.geral{
	height: 400px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.menu_lateral{
	width: 20%;
}

.dados{
	width: 77%;
}

.dados_usuario{
	width: 48%;
	height: 380px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.espacamento{
	margin-top: 20px;
}

.cadastro{

	width: 80%;
	margin-left: 90px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.t_span{width: 100px;}